<div style="margin: 20px;">
  <% @comments.each do |comment| %>
    <h2> <%= comment.commenter %> </h2>
    <p>
      <%= comment.body %>
    </p>

    <%= link_to 'Edit Comment', edit_user_comment_path(comment) %>
<% end %>

</div>