<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="https://m7madmagdy.github.io/server/images/rails.svg" width="40" height="35" class="d-inline-block align-bottom" alt="">
    <span class="navbar-brand mb-0 h1">Home</span>
  </a>

   <div class="d-inline-block align-bottom" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="api/users">Api</a>
  </div>
</nav>